@charset "UTF-8";
/* 初期設定
------------------------------------------------------ */
html {
	height: 100%;
}
body {
	margin: 50px;
	background-color: #3cb371;
	color: #ffffff;
	line-height: 25px;
	font-family: Meiryo,HiraMinProN-W6;
	text-align: center;

}
a:link {
    color: #ffe4b5;
}
a:visited {
    color: #ffdab9;
}
a:hover {
    color: #808080;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

input {
	font-size: 18px;
}

/* ページの枠組み
------------------------------------------------------ */


/* ヘッダー
------------------------------------------------------ */
#header {
	text-align: center;
	height: 50px;
	padding-top:10px;
	padding-left: 50px;

}

h1 {
	font-size: 60px;
	font-weight: bold;
}

#nav{
    padding: 3px;
	width: 600px;
	margin: auto;
}


#nav ul{
    padding: 0px;
    margin: 0px;
}


#nav ul li {
    display: inline;
    margin-right: 3em;
}


#nav ul li a {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#nav ul li a:hover{
    border-bottom: dotted 1px #fff;
}



/* メインコンテンツ
------------------------------------------------------ */
.insert-task-form {
	height: 20px;
	font-size: 20px;
}
.todolist {
	padding: 5px;
	margin: 35px auto;
	width: 500px;
	border: solid 2px #808080;
	text-align: center;
	box-shadow: 2px 2px 4px;

	color: #2b2b2b;
	background-color: #fffffc;
}

td, th {
    vertical-align: middle;
}
.button {
margin-top: 15px;
}
.errorMessage {
	text-align: center;
	width:400px;
	color: #ffffff;
	margin: auto;
}

table {
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
}
table th, table td {
	border-bottom: 1px solid #ccc;
	height: 50px;
	font-size: 18px;
}
table th {
  border-right: 1px solid #ccc;
  background: #EEE;
}
table tr:first-child th {
  border-radius: 5px 0 0 0;
}
table tr:first-child td {
  border-radius: 0 5px 0 0;
}
table tr:last-child th {
  border-bottom: none;
  border-radius: 0 0 0 5px;
}
table tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 5px 0;
}


/* --編集画面-- */



#editForm {
	display:inline-flex;
	font-size: 18px;
}

.todolist-edit {
	width: 100%;
	display: flex;
	margin: auto;
	padding: 3px;
}

.edit-button {
	margin-right: 1em;
}

.todolist-edit-wrapper {
	width: 460px;
	margin: auto;
	padding: 10px;
	text-align: center;
	border: solid 2px #808080;
	box-shadow: 2px 2px 4px;

	line-height: 25px;
	color: #2b2b2b;
	background-color: #fffffc;
}

.todolist-edit ul{
    padding: 0px;
    margin: 0px;
}


.todolist-edit ul li {
    display: inline;
    margin-right: 1em;
}


.todolist-edit ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
